[Unit]
Description=Проверка состояния хоста
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/monitoring.env
ExecStart=/opt/monitoring/check.sh
